{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">Churn Analysis</h2>

    <div class="row">

        <div class="col-md-3">
            <div class="card shadow p-3">
                <h5>Total Customers</h5>
                <h2>{{ total_customers }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-3">
                <h5>Safe Customers</h5>
                <h2>{{ safe_customers }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-3">
                <h5>High Risk</h5>
                <h2>{{ churn_customers }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow p-3">
                <h5>Churn Rate</h5>
                <h2>{{ churn_rate }}%</h2>
            </div>
        </div>

    </div>

    <div class="card shadow mt-4 p-3">

        <h4>Customer Churn Table</h4>

        <table class="table table-striped table-bordered">

            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Income</th>
                    <th>Purchase</th>
                    <th>Last Purchase</th>
                    <th>Churn</th>
                </tr>
            </thead>

            <tbody>

                {% for row in customers %}

                <tr>

                    <td>{{ row.customer_id }}</td>
                    <td>{{ row.age }}</td>
                    <td>{{ row.annual_income }}</td>
                    <td>{{ row.purchase_amount }}</td>
                    <td>{{ row.last_purchase_days }}</td>

                    <td>
                        {% if row.churn == "High Risk" %}
                        <span class="badge bg-danger">High Risk</span>
                        {% elif row.churn == "Medium Risk" %}
                        <span class="badge bg-warning text-dark">Medium Risk</span>
                        {% else %}
                        <span class="badge bg-success">Low Risk</span>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}